*{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body{
  background:radial-gradient(#333,#888);

  background-color: #444;
  margin:0;
  padding: 0;
  font-family:'lato', Monospace;
  

}



 /*Welcome page design starts*/

.container-welcome{
  
  
  background: #444 url(../assets/back-welcome.jpg);
  
  color: #fff;
  background-size: cover;
  
  text-transform: capitalize;
  height: 100vh;
  font-family: 'Source Sans Pro', Monospace;

  
  
}

@media screen and (max-width: 728px){
 
 .container-welcome{
  background: #444 url(../assets/back-welcome-mobi.jpg);
  background-size: cover;
}

}

.container-welcome p{


  padding-top: 30%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6vh;
  font-family: 'Source Sans Pro', Monospace;
  -webkit-filter: drop-shadow(2px 3px 1px #000);
          filter: drop-shadow(2px 3px 1px #000);

}
/*Welcome page design ends*/


/*about page design starts*/

.container-about{
  
  
  color: #000;
  height: auto;
  
  
  font-size: 1.2em;
   width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;


  
  -webkit-box-pack: center;
  
      -ms-flex-pack: center;
  
  justify-content: center;
  
  
  
 }

 .container-fluid .jumbotron{
  
  color: #ddd;
   background-color: #555;
   margin:0;
   border-radius: 0;
   box-shadow:  0  0 10px #555;
   
}

.flex-items{
   text-align:center;
   -webkit-filter: drop-shadow(0.5px 0.5px 0.5px #333);
           filter: drop-shadow(0.5px 0.5px 0.5px #333);
  

} 

 /*about page design ends*/

 
/* Projects section design starts here*/

section{
  
  background-color: #eee;
  margin:  0 30px;

}
 .container-projects h6{
  
  padding-top: 50px;
 }

 .container-projects:not(.container-projects h6){
  
  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-projects .img-thumbnail{
  border-top-right-radius: calc(.25rem - 1px);
  border-top-left-radius: calc(.25rem - 1px);
  border:0;
  width: 100%; 
  height: 25vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cards-item{

  -webkit-box-shadow: 0 10px 10px -10px;

  box-shadow: 0 10px 10px -10px;
  margin-bottom: 50px;

}

/*Projecs section design ends here*/


/*Contact section design starts here*/



.container-contact:not(.container-contact h6) {
  
  
  color:#000;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  
}



.container-contact h5{
  font-size: 4em;
  font-family: 'Source Sans Pro', Monospace;
}

.container-contact h6{


  
  
  padding-top: 50px;
  
  

 }





form label{
  text-transform: uppercase;
  font-size: .8em;
  font-family: 'Source Sans Pro', Monospace;
  
}

form .form-control {

  background-color: #fff;
  border:0; 
  
  border-radius: 0;
  font-weight: 400;
}
.form-control:focus {
  border-bottom:.5px solid #333; 
  box-shadow: none;
}
/*Contact section design ends here*/






/*navbar*/

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-brand{
  font-family: 'Lobster Two', Monospace;
  font-size: 2em;
}

div > ul > li:hover{

font-weight: 700;

}



/*Buttons*/

.btn-master{
  background: -webkit-gradient(linear,right top, left top,from(#00F595),to(#00F5ff));
  background: -webkit-linear-gradient(right,#777,#888,#999,#aaa);
  background: -o-linear-gradient(right,#777,#888,#999,#aaa);
  background: -webkit-gradient(linear,right top, left top,from(#777),color-stop(#888),color-stop(#999),to(#aaa));
  background: linear-gradient(270deg,#777,#888,#999,#aaa);
  border: 1px solid rgba(0,0,0,.125);
  border-top-right-radius: calc(.25rem - 1px);
  border-top-left-radius: calc(.25rem - 1px);
  
  color: #000;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', Monospace;
  height: 50px;
  width: 100%;
  text-decoration: none;
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
}
.btn-master:hover{
  color: #fff;
-webkit-box-shadow: none;
        box-shadow: none;
font-weight: 700;
border-radius: 0px; 
text-decoration: none;
transition: all .7s;
}

.fa-2x{
  margin: 5px;
  color: #888;
  
}
.fa-2x:hover{
  font-weight: bolder;
  color: #444;
  transition: all .7s;
}

.btn-submit{
  border-radius: 15px;
  margin-top: 1px;
   font-family: 'lato', Monospace;
   pointer-events: none;
    -webkit-filter: drop-shadow(1px 1px 0px #888);
            filter: drop-shadow(1px 1px 0px #888);
}


.btn-outline {
    
    color: #fff;
    border:2px solid #00d1b2; 
    background-color: transparent;
    text-transform: uppercase;
    border-radius:2px;
    transition: all .5s;
}
.btn-outline:hover{
  background-color:#00d1b2; 


}

.out-service{
  font-size: 1.5em;
 
}

.fa-chevron-down{
  color: #fff;
  position: relative;
  top: 2em;
  transition: all .5s;


}

.fa-chevron-down:hover{
  font-weight: bolder;
  color: #444;
}




/*content decoration*/

a{
  color: #000;
}

a:hover{
  text-decoration: none;
}


p {

  font-size: 1.2em;
}

 h6 {

  
  text-align: left;
  font-family: 'Source Sans Pro', Monospace;
  font-size: 3em;
  color:  #999;
}


figure {
  border-top-right-radius: calc(.25rem - 1px);
  border-top-left-radius: calc(.25rem - 1px);
  padding:  15px 30px 30px 15px;
  background: -webkit-gradient(linear,left top, left bottom,from(#f1f1f1),to(#ffffff));
  background: -webkit-linear-gradient(#f1f1f1,#ffffff);
  background: -o-linear-gradient(#f1f1f1,#ffffff);
  background: linear-gradient(#f1f1f1,#ffffff);

  border:0.0025rem solid #fff;
  border-radius: .25rem;


}

figure h3{
  font-weight: 700;
  font-family: 'Source Sans Pro', Monospace;
}




/*Emblem font awesome*/

.emblem-upper{
  
 text-align: right;
 margin-bottom: 0;
  border:0;
  border-top: 3px solid #333;
  width: 30%;
}


hr.emblem-below{
 
 text-align: right;
 margin-bottom: 0;
 position: relative;
 top: -3.5em;
 right: -13em;
 display:inline-block;
  border:0;
  border-top: 4px solid #999;
  width: 85%;

}

hr.emblem-below::before{

 content:"\F121";
 font-family:fontawesome;
 display:inline-block;
 
 position:relative;
 top:-0.77em;
 right: 0;
 padding:0 20px;
 font-size:3.5em;
 color:  #999;
 background-color: #eee;


}


/*Footer*/

.footer {
  width: 100%;
  height: 40px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #222;
  color: #aaa;
  
  font-weight: 700;
  font-size: 12px;
  font-family: 'Source Sans Pro', Monospace;

}
.footer a{
  color: #fff;
}

/*media quries*/

@media screen and (max-width: 768px ){

hr.emblem-below{
 
 text-align: right;
 
 position: relative;
 top: 0;
 right: -2em;
 
  width: 80%;

}

hr.emblem-below::before{

 content:"\F121";
 font-family:fontawesome;
 display:inline-block;
 
 position:relative;
 font-weight: 700;
 right: 2em;
 padding:0 20px;
 font-size:3.5em;
 background-color: #eee;


}

h6{

  
  text-align: center;
  padding: 0;
  }

  section{
    
  margin:0;
}

.container-about{
  background-color: #555;

}
form{
  margin-top: 50px;
}



}