*{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;




}
body{

  background-color: #fff;
  margin:0;
  padding: 0;
  font-family: Lato,Arial,sans-serif;
  font-weight: 300;
  line-height: 1.7;
  font-size: calc(14px + .25vw);

}


/*navigation*/


nav {
  height:70px;    
  position:fixed;
  left:0;
  right:0;
  z-index:99;
  background-color:#fff;
  -webkit-box-shadow: 0 0 1px #aaa;
          box-shadow: 0 0 1px #aaa;
}

nav ul{
  list-style:none;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:end;
      -ms-flex-pack:end;
          justify-content:flex-end;
  font-weight:400;

}
nav ul a{
    color:#333;    
  text-decoration:none;
  padding:1em;
}

nav ul a:hover{
color:#5C97FF;
-webkit-transition: .2s ease-in;
-o-transition: .2s ease-in;
transition: .2s ease-in;
}

svg{
float:left;
height:70px;
width:70px;
fill:#000000;
stroke:#fff;
stroke-width:1.5px;


}
svg:hover{
   fill:#5C97FF;
   -webkit-transition: .2s ease-in;
   -o-transition: .2s ease-in;
   transition: .2s ease-in;
}

@media screen and (max-width: 728px){

#menu {
    height: 32px;
    margin: 10px 15px 0 0;
    border-radius: 8px;
    cursor: pointer;
    float:right;
}
 .menu-line{  
width: 36px;
display:block;
border: 2px solid #333;
margin-bottom: 8px;
}
nav ul {
  clear:both;  
text-align:center;
font-weight:900;
padding:0;
line-height:3;
display:block;
max-height:0;
overflow:hidden;
backface-visibility:hidden;
background-color:#fff;
-webkit-transition: max-height 0.2s ease-out, background-color 0.25s;
-o-transition: max-height 0.2s ease-out, background-color 0.25s;
transition: max-height 0.2s ease-out, background-color 0.25s;
}
.onlink{
max-height:200px;
}
nav,svg{
height:50px;
}

}


 /*Welcome page design */

main {


  
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding:0 2em; 
  height: 70vh;
  
  background-color:#5C97FF;
  font-family: 'Source Sans Pro', sans-serif;



}
 
 main:after {
         content: ' ';
         display: block;
         position: absolute;
         left: 0;
         top: 0;
        width: 100%;                        
        height: 70%;
        z-index: 1;
        opacity: 0.6;
        background-image: url('../assets/faiz.svg');
        background-size:cover;
        background-attachment: fixed;
       
}


@-webkit-keyframes typing {
        from { width: 0 }
    }


@keyframes typing {
        from { width: 0 }
    }

@-webkit-keyframes caret {
            50% { border-right-color: transparent; }
        }

@keyframes caret {
            50% { border-right-color: transparent; }
        }


@-webkit-keyframes mymove {
    0%   {top: 0px;}
    50%  {top: 50px;}
    100%  {top: 25px}
}


@keyframes mymove {
    0%   {top: 0px;}
    50%  {top: 50px;}
    100%  {top: 25px}
}



main h1{
  
  position: relative;
  font: bold 250% Consolas, Monaco, monospace;
          width: 39ch;
          white-space: nowrap;
          overflow: hidden;
          border-right: .05em solid;
          -webkit-animation: typing 5s steps(39,end),
            caret 1s steps(1) infinite;
                  animation: typing 5s steps(39,end),
            caret 1s steps(1) infinite;
}

.flex-items{
   text-align:center;
   z-index:2;


}

.flex-items:focus, a:focus{
outline:0;
}

/* buttons*/


.btn-outline {
    padding:10px 15px;
    font-size:1em;
    font-weight:bolder;
    color: #fff;
    border:3px solid #fff;
    background-color:transparent;
    text-transform: uppercase;
    border-radius:2px;
    -webkit-transition:  .2s ease-in;
    -o-transition:  .2s ease-in;
    transition:  .2s ease-in;
}
.btn-outline:hover{
  background-color:#fff;
  color: #333;

}



.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 1em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	-webkit-transform: rotate(135deg);
	    -ms-transform: rotate(135deg);
	        transform: rotate(135deg);
	vertical-align: top;
	width: 1em;
    -webkit-animation: mymove 3s infinite;
            animation: mymove 3s infinite;
    margin-top:50px;
}

.social{
height:2em;
}

.icon-1em{
height:1em;
}

 


@media screen and (max-width: 728px){

 main {
    
     height:100vh;

    }
 main::after {
     height:100vh;
     background-position:center; 
}
main h1{
  
  position: relative;
  font: bold 40px Lato,Arial,sans-serif;
          width: 100%;
          white-space: normal;
          overflow: visible;
          border-right: none;
          -webkit-animation: none;
                  animation: none;
}


}





section {
margin:0px 20px;

}


/*about page design starts*/
section.about-me{
 height:100%;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:start;
     -ms-flex-align:start;
         align-items:flex-start;
}

.profile-pic{
 border-radius:50%;
 margin-top:50px;
 -webkit-filter:grayscale(0.5);
         filter:grayscale(0.5); 
 border:2px solid #fff;
}

.items{
margin:0 50px;
}

section.about-me div > p {
text-align:left;
max-width:50em;
white-space:normal;
}

section.about-me div ul{
list-style:none;
}

section.about-me div > h1{
   font-size:1.5em;

   font-weight:600;

}

.highlight{
border-bottom:3px solid #5C97FF;
padding:2px;
font-weight:400;
}

.highlight:hover{
 cursor:pointer;   
background-color:#5C97FF;
color:#fff;
-webkit-transition:.2s ease-in;
-o-transition:.2s ease-in;
transition:.2s ease-in;
}

@media screen and (max-width: 728px){
 section.about-me{
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
     -ms-flex-direction:column;
         flex-direction:column;
 -webkit-box-align:center;
     -ms-flex-align:center;
         align-items:center;
 
 }

 .items{
 margin:0;
 }

}

/*project start*/


.porfolio{
height:100vh;

}
  
 h2{
    font-size:calc(2em + .2vw);
    font-weight:900;
}

.portfolio-main{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
-webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
        justify-content: space-evenly;

}


.flex-portfolio{
    height:40vh;
    margin-bottom:20px;
 cursor:pointer;
 margin-bottom:50px;
 background-color:#000;

}

.flex-portfolio img{
    height:100%;
    width:100%;
  -webkit-box-sizing:content-box;
          box-sizing:content-box;  
opacity: 1;
	-webkit-transition: .3s cubic-bezier(.7,1,.7,1);
	-o-transition: .3s cubic-bezier(.7,1,.7,1);
	transition: .3s cubic-bezier(.7,1,.7,1);
    -webkit-box-shadow: 0 10px 10px -10px;
            box-shadow: 0 10px 10px -10px;
    }



.flex-portfolio:hover img{
opacity:0.5;
}

.main-project{
    height:50vh;
-webkit-box-flex:0;
    -ms-flex:0 0 75%;
        flex:0 0 75%;
}


@media screen and (max-width: 728px){
.portfolio-main{
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
    -ms-flex-direction:column;
        flex-direction:column;
}

}




/*footer start*/

footer{
display:grid;
grid-template-columns: repeat(12,1fr);
text-align:center;
background-color:#1a1d21;
padding: 4em 2em 0 2em;
margin-top:200px;
color:#fff;
border-top: 6px solid #ddd;
grid-row: 9;
grid-column: 1/13;
}

.footer-notes{
grid-row: 1;
grid-column: 1/7;
}
footer .social-links{
grid-row:1;
grid-column:10/12;
padding:1em;
}




footer .copyright{
    grid-row:2;
    padding-top:3em;
    grid-column:6/8;
    font-size:1em;
    font-weight:600;

}





a{
color:inherit;
text-decoration:none;
}


@media screen and (max-width: 728px){
footer{
    display:inline-block;
    width:100%;
}

}






